export API_SERVICE_SERVICE_NAME=api
export API_SERVICE_PORT=80
export API_SERVICE_HOST=0.0.0.0

export SECONDARY_SERVICE_SERVICE_NAME=secondary
export SECONDARY_SERVICE_PORT=80
export SECONDARY_SERVICE_HOST=0.0.0.0